@font-face {
	font-family: 'DINNextLTArabic-Bold';
	src: url('../fonts/DINNextLTArabic-Bold.eot');
	src: url('../fonts/DINNextLTArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTArabic-Bold.woff2') format('woff2'),
		url('../fonts/DINNextLTArabic-Bold.woff') format('woff'),
		url('../fonts/DINNextLTArabic-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'DINNextLTW23-Light';
	src: url('../fonts/DINNextLTW23-Light.eot');
	src: url('../fonts/DINNextLTW23-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTW23-Light.woff2') format('woff2'),
		url('../fonts/DINNextLTW23-Light.woff') format('woff'),
		url('../fonts/DINNextLTW23-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'DINNextLTW23-Medium';
	src: url('../fonts/DINNextLTW23-Medium.eot');
	src: url('../fonts/DINNextLTW23-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTW23-Medium.woff2') format('woff2'),
		url('../fonts/DINNextLTW23-Medium.woff') format('woff'),
		url('../fonts/DINNextLTW23-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'DINNextLTW23-Regular';
	src: url('../fonts/DINNextLTW23-Regular.eot');
	src: url('../fonts/DINNextLTW23-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINNextLTW23-Regular.woff2') format('woff2'),
		url('../fonts/DINNextLTW23-Regular.woff') format('woff'),
		url('../fonts/DINNextLTW23-Regular.ttf') format('truetype');
}
body
{
	font-family: 'DINNextLTW23-Regular';
}
::-webkit-scrollbar {
	width: 10px;
	height: 0;
  }
  ::-webkit-scrollbar-track {
	background: #fff; 
	border-radius: 0px;
  }
  ::-webkit-scrollbar-track-piece{
	background: transparent;
  }
  ::-webkit-scrollbar-thumb {
	background-color: #3d344e;
	border: 2px solid transparent;
	background-clip: padding-box;
	border-radius: 20px;
  }
a:focus,button:focus,input:focus,a:hover
{
	outline: none;
	text-decoration: none;
}
.tooltip  > .tooltip-inner {
	font-size: 13px;
	font-family: 'DINNextLTW23-Regular';
	line-height: 15px;
	padding-bottom: 8px;
}
.scroll_mob
{
	overflow: hidden;
}
header .mob_bar
{
	display: none;
	width: 100%;
}
.mob_bar #navbtn
{
	width: 100%;
	padding: 7px 15px 9px 15px;
	border: none;
	color: #ffffff;
	background-color: #3d344e;
	font-size: 24px;
	text-align: right;
}
.mob_bar #navbtn > span
{
	font-size: 17px;
	font-family: 'DINNextLTArabic-Bold';
	position: relative;
	bottom: 2px;
}
.over_click
{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	z-index: 99;
	visibility: hidden;
}
.on
{
	visibility: visible;
}
.sidenav.over_mob
{
	right: 0;
}
.sidenav {
	height: 100%;
	width: 290px;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: -290px;
	background-color: #ffffff;
	overflow-x: hidden;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	padding-top: 50px;
}
.sidenav .direct {
	text-decoration: none;
	margin: 0 30px;
	font-size: 16px;
	color: #3d344e;
	line-height: 40px;
	font-family: 'DINNextLTArabic-Bold';
	position: relative;
	display: block;
}
.sidenav .closebtn {
	position: absolute;
	color: #3d344e;
	top: 0;
	left: 20px;
	font-size: 35px;
	cursor: pointer;
}
.top_bar
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 34px;
}
header .place
{
	display: flex;
	align-items: center;
}
header .place .categories:not(:first-child)
{
	margin-right: 5px;
}
.categories .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
	width: 129px;
}
.categories .bootstrap-select>.dropdown-toggle
{
	border: none;
	padding: 0 19px;
	border-radius: 18px;
	color: #9d9d9d;
	position: relative;
	font-size: 14px;
	height: 36px;
	background-color: #f5f5f5;
	font-family: 'DINNextLTW23-Light';
}
.categories .bootstrap-select>.dropdown-toggle:hover,.categories .open > .dropdown-toggle.btn-default,.categories .bootstrap-select>.dropdown-toggle:focus
{
	background-color: #f5f5f5;
	color: #9d9d9d;
}
.categories .bootstrap-select>.dropdown-toggle:after
{
	content: '\f0d7';
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	top: 12px;
	font-size: 10px;
	left: 20px;
	color: #9d9d9d;
}
.bootstrap-select .dropdown-toggle:focus,.btn-default:active,.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default,.btn-default:active,.btn-default:hover,.open > .dropdown-toggle.btn-default:hover
{
	outline: none !important;
	box-shadow: none;
	background-color: #f5f5f5;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
	text-align: right;
}
.categories .bootstrap-select.btn-group .dropdown-toggle .caret
{
	display: none;
}
.categories .bootstrap-select.btn-group .dropdown-menu
{
	border-radius: 18px;
	border: 1px solid #f5f5f5;
	box-shadow: none;
	padding: 0;
	background-color: #ffffff;
}
.categories .bootstrap-select.btn-group .dropdown-menu.inner
{
	padding: 12px 0;
}
.categories .dropdown-menu > li
{
	position: relative;
}
.categories .dropdown-menu > li:not(:last-child):after
{
	content: "";
	width: 90%;
	height: 1px;
	background-color: #f5f5f5;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.categories .dropdown-menu > li > a
{
	padding: 6px 21px;
	color: #9d9d9d;
	font-size: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	font-family: 'DINNextLTW23-Light';
}
.categories .dropdown-menu > li > a:hover
{
	background-color: transparent;
	color: #c0a34b;
}
.categories .dropdown-menu > li > a:focus
{
	background-color: transparent;
}
.sign_log > a
{
	display: inline-block;
	border: 1px solid #3d344e;
	width: 129px;
	height: 36px;
	border-radius: 18px;
	line-height: 30px;
	text-align: center;
	color: #3d344e;
	font-size: 14px;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes hvr-icon-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(6px);
		transform: translateX(6px);
	}
	33.3% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.hvr-icon-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 20px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
	content: "\f2f6";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 18px;
	top: 3px;
	font-size: 12px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
	-webkit-animation-name: hvr-icon-wobble-horizontal;
	animation-name: hvr-icon-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-1em);
		transform: translateY(-1em);
	}
}
@keyframes hvr-icon-float-away {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-1em);
		transform: translateY(-1em);
	}
}
/* Icon Float Away */
.hvr-icon-float-away {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	padding-right: 18px;
}
.hvr-icon-float-away:before, .hvr-icon-float-away:after {
	content: "\f234";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 18px;
	top: 2px;
	font-size: 12px;
}
.hvr-icon-float-away:after {
	opacity: 0;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.hvr-icon-float-away:hover:after, .hvr-icon-float-away:focus:after, .hvr-icon-float-away:active:after {
	-webkit-animation-name: hvr-icon-float-away;
	animation-name: hvr-icon-float-away;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.sign_log > a.log_in:hover
{
	background-color: #3d344e;
	color: #ffffff;
}
.sign_log > a.sign_up
{
	color: #ffffff;
	background-color: #3d344e;
	margin-right: 3px;
}
.sign_log > a.sign_up:hover
{
	background-color: #766596;
	border-color: #766596;
}
.down_bar 
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: -56px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dfdfdf;
}
header .searchbox
{
	width: 262px;
	position: relative;
}
header .searchinput
{
	font-size: 16px;
	-webkit-text-fill-color: #bbbbbb !important;
	border-radius: 25px;
	min-height: 50px;
	border: none;
	width: 100%;
	background-color: #f5f5f5;
	padding: 0 28px;
	font-family: 'DINNextLTW23-Light';
}
header .search_icon
{
	background-color: transparent;
	font-size: 16px;
	border-radius: 0;
	color: #3d344e;
	border: 0;
	position: absolute;
	top: 13px;
	padding: 0;
	left: 25px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
header .search_icon:hover
{
	color: #c0a34b;
}
.adding
{
	display: inline-block;
	width: 262px;
	height: 50px;
	line-height: 44px;
	text-align: center;
	background-color: #c0a34b;
	border-radius: 25px;
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.adding:hover,.adding:focus
{
	color: #ffffff;
	background-color: #efc74f;
}
.adding.hvr-icon-float-away:before, .adding.hvr-icon-float-away:after {
	content: "\f067";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 60px;
	top: 2px;
	font-size: 14px;
}
header .nav_bar
{
	margin: 0;
	text-align: center;
}
header .nav_bar > li
{
	padding: 15px 10px;
}
.nav_bar > li > a
{
	font-size: 18px;
	color: #3d344e;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	display: inline-block;
}
header .nav_bar > li > a:hover 
{
	color: #c0a44c;
} 
.mainslider .owl-dots
{
	text-align: center;
	position: absolute;
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	right: auto;
	left: 50%;
	bottom: 39px;
}
.mainslider .owl-dot
{
	float: left;
}
.mainslider .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 3px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	display: block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border-radius: 5px;
}
.mainslider .owl-dot.active span {
	background-color: #ffffff;
}
.mainslider .owl-nav .owl-next
{
	position: absolute;
	top: 45%;
	right: 19px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.mainslider .owl-nav .owl-prev
{
	position: absolute;
	left: 19px;
	top: 45%;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.mainslider .owl-nav .owl-next:hover,.mainslider .owl-nav .owl-prev:hover
{
	background-color: #c0a44c;
} 
.products
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 18px 0;
}
.prods
{
	padding: 6px;
}
.prods > a
{
	display: block;
	background-color: #3d344e;
	width: 180px;
	height: 100%;
	padding: 26px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 14px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.prods .pr_photo
{
	height: 44px;
}
.prods .pr_name
{
	font-size: 18px;
	color: #ffffff;
	font-family: 'DINNextLTW23-Light';
}
.prods > a:hover
{
	background-color: #534965;
}
.latest_bans .heading 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 36px;
	padding: 0 10px 15px 10px;
	border-bottom: 1px solid #ebebeb;
}
.heading .lat_title
{
	font-size: 22px;
	color: #3d344e;
	font-family: 'DINNextLTW23-Medium';
}
.heading .pr_view > a
{
	font-size: 20px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	color: #cbcbcb;
	cursor: pointer;
	max-height: 20px;
	display: inline-block;
	margin: 0 5px;
}
.heading .pr_view > a.active
{
	color: #3d344e;
}
.latest_bans.listview .items
{
	flex-direction: column;
}
.items
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.cell
{
	width: 262px;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
	overflow: hidden;
}
.listview .cell
{
	width: 100%;
	display: flex;
	align-items: center;
}
.c_photo
{
	max-width: 262px;
	max-height: 189px;
	overflow: hidden;
	position: relative;
}
.listview .c_photo
{
	margin-left: 30px;
}
.c_photo .c_fav
{
	position: absolute;
	top: 13px;
	right: 13px;
	color: #ffffff;
	font-size: 24px;
	cursor: pointer;
	text-shadow: 0px 0px 10px rgba(1,1,1,0.25);
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.c_photo .c_fav:hover
{
	color: #c0a44c;
}
.marking
{
	position: absolute;
	background-color: rgba(1,1,1,0.75);
	width: 74px;
	height: 28px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	color: #ffffff;
	font-size: 13px;
	font-family: 'DINNextLTW23-Light';
	right: 0;
	bottom: 0;
}
.marking > i
{
	font-size: 11px;
	margin-left: 3px;
}
.c_info > ul
{
	margin: 15px 0;
}
.c_info > ul > li
{
	text-align: center;
	color: #3d344e;
	font-size: 18px;
	padding: 6px 0;
	line-height: 30px;
	position: relative;
}
.c_info > ul > li:not(:last-child):after
{
	content: "";
	width: 85%;
	height: 1px;
	background-color: #e5e5e5;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.listview .c_info > ul > li
{
	text-align: right;
}
.listview .c_info > ul > li:after
{
	display: none;
}
.c_info > ul > li > i
{
	font-size: 13px;
	color: #c0a44c;
	margin-left: 5px;
	position: relative;
	bottom: 1px;
}
.c_info .ban_ss
{
	display: inline-block;
	color: #3d344e;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.c_info .ban_ss:hover
{
	color: #c0a44c;
}
.show_more 
{
	text-align: center;
}
.show_more > a
{
	display: inline-block;
	color: #adadad;
	font-size: 16px;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	width: 150px;
	height: 42px;
	line-height: 37px;
	text-align: center;
	background-color: #f2f2f2;
	border-radius: 21px;
}
.show_more > a:hover
{
	background-color: #c0a44c;
	color: #ffffff;
}
footer
{
	background-color: #3d344e;
	margin-top: 72px;
}
.footer_links
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 36px;
}
.foot_content
{
	width: 83%;
}
.foot_content .upper-c
{
	display: flex;
	justify-content: space-between;
}
.fast_links
{
	margin: 0;
}
.fast_links > li
{
	margin-bottom: 5px;
}
.fast_links > li > a
{
	color: #897f9c;
	font-size: 16px;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.fast_links > li > a:hover
{
	color: #ffffff;
}
.down-c
{
	display: flex;
	margin-top: 24px;
	align-items: center;
	justify-content: space-between;
}
.loading_app
{
	margin: auto;
	text-align: center;
}
.d_title
{
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 10px;
}
.loading_app > ul > li
{
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.loading_app > ul > li:hover
{
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.social
{
	margin-left: 45px;
}
.social > a
{
	background-color: #483e59;
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	font-size: 14px;
	color: #a39bb1;
}
.social > a:hover
{
	color: #ffffff;
	background-color: #c0a44c;
}
.copy_rights
{
	background-color: #372f46;
	padding-top: 10px;
	padding-bottom: 12px;
}
.copied
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #a39bb1;
	font-size: 13px;
}

/*satrt post page*/
.inhead
{
	-webkit-box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2);
	box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2);
}
.post_p .breadcrumb
{
	background-color: transparent;
	margin: 35px 0 50px 0;
	padding: 0 40px 0 0;
}
.post_p .breadcrumb-item > a
{
	font-size: 16px;
	color: #bbbbbb;
	font-family: 'DINNextLTW23-Light';
}
.post_p .breadcrumb-item.active > a
{
	color: #5e5968;
}
.post_p .p-title
{
	color: #3d344e;
	font-size: 23px;
	font-family: 'DINNextLTW23-Medium';
	margin-bottom: 20px;
}
.in-slider
{
	padding: 8px;
	border: 1px solid #e5e5e5;
}
#po_slider .slideitem
{
	width: 84.7%;
	max-height: 330px;
	overflow: hidden;
}
#po_slider .slideitem img
{
	width: 100%;
	height: 100%;
}
#po_slider .owl-dots
{
	position: absolute;
	left: 0;
	top: 0;
}
#po_slider .owl-dot
{
	width: 107px !important;
	height: 108px !important;
	background-size: cover;
}
#po_slider .owl-dot:not(:last-child)
{
	margin-bottom: 3px;
}
#po_slider .owl-dot span {
	border: none;
	display: block;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.p_actions
{
	margin: 19px 11px 37px 11px;
}
.p_actions > li
{
	font-size: 16px;
	color: #3d344e;
	font-family: 'DINNextLTW23-Light';
	padding: 0 13px;
}
.p_actions > li > a
{
	font-size: 16px;
	color: #3d344e;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.p_actions > li > a:hover
{
	color: #c0a44c;
}
.p_intro
{
	font-size: 18px;
	color: #595959;
	font-family: 'DINNextLTW23-Light';
	line-height: 32px;
	text-align: justify;
	margin-bottom: 42px;
}
.sub_social
{
	display: flex;
	align-items: center;
	margin-bottom: 49px;
}
.sub_social .sub_title
{
	display: inline-block;
	color: #3d344e;
	font-size: 18px;
	margin-left: 14px;
	position: relative;
	bottom: 5px;
}
.sub_social .sub_types
{
	margin: 0;
}
.sub_types > li
{
	padding: 0;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.sub_types > li > a
{
	height: 30px;
	line-height: 25px;
	text-align: center;
	padding: 0 15px;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	border-radius: 2px;
}
.sub_types > li > a.face
{
	background-color: #3b5998;
}
.sub_types > li > a.twt
{
	background-color: #2aa9e0;
}
.sub_types > li > a.goog
{
	background-color: #de5245;
}
.sub_types > li:hover
{
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.sim_title
{
	font-size: 18px;
	color: #3d344e;
	font-family: 'DINNextLTW23-Medium';
	border-bottom: 1px solid #efefef;
	margin-bottom: 16px;
	padding-bottom: 11px;
}
.similar .cell
{
	width: 239px;
}
.add_notes .lab
{
	display: block;
	margin-bottom: 11px;
	margin-top: 17px;
	color: #3d344e;
	font-size: 18px;
	position: relative;
	font-family: 'DINNextLTW23-Medium';
	padding: 0 17px;
	font-weight: normal;
}
.add_notes .note 
{
	width: 100%;
	background-color: #f7f7f7;
	border: 1px solid transparent;
	-webkit-text-fill-color: #c9c9c9 !important;
	border-radius: 3px;
	box-shadow: none;
	padding: 20px 30px;
	font-size: 15px;
	font-family: 'DINNextLTW23-Light';
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	line-height: 23px;
	max-height: 111px;
}
.add_notes .note:focus
{
	box-shadow: none;
	outline: none;
	border-color: #3d344e;
}
.plus_add 
{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.plus_add > button
{
	border: none;
	border-radius: 2px;
	padding: 0;
	color: #ffffff;
	font-size: 14px;
	font-family: 'DINNextLTArabic-Bold';
	width: 105px;
	height: 45px;
	background-color: #c0a44c;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.plus_add > button:hover
{
	background-color: #3d344e;
}
.wn_price
{
	font-size: 30px;
	color: #c0a44c;
	font-family: 'DINNextLTArabic-Bold';
	text-align: center;
	margin-bottom: 22px;
}
.wn_price .coin
{
	font-size: 18px;
	font-family: 'DINNextLTW23-Medium';
}
.bans_info
{
	margin: 0;
}
.bans_info > li
{
	width: 100%;
	max-width: 360px;
	display: flex;
	align-items: center;
	background-color: #3d344e;
	color: #ffffff;
	margin: 3px 0;
}
.bans_info > li .wn_icon
{
	font-size: 24px;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	background-color: #332a43;
	margin-left: 17px;
}
.bans_info > li .wn_name
{
	font-size: 20px;
	font-family: 'DINNextLTW23-Light';
}
.bans_info > li:hover .wn_icon > i
{
	-webkit-animation:spin 0.6s linear 1;
	-moz-animation:spin 0.6s linear 1;
	animation:spin 0.6s linear 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.owner_info.sm
{
	display: none;
}
/*end post page*/



/*md*/
@media (min-width:992px) and (max-width:1199px)	
{
	.items
	{
		justify-content: center;
	}
	.cell
	{
		margin: 0 8px 30px 6px;
	}
	.listview .cell
	{
		margin: 0 0 30px 0;
	}
	/*start post page*/
	.in-slider
	{
		max-width: 700px;
		margin: auto;
	}
	#po_slider .slideitem {
		width: 83.7%;
	}
	#po_slider .owl-dots
	{
		height: 100%;
	}
	#po_slider .owl-dot
	{
		height: 32.6% !important;
	}
	.p_intro,.p_actions,.post_p .p-title,.add_notes
	{
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.sim_title
	{
		text-align: center;
		border: none;
	}
	.owner_info.lg
	{
		display: none;
	}
	.owner_info.sm
	{
		display: block;
		margin-bottom: 40px;
	}
	.bans_info > li
	{
		margin: 3px auto;
	}
	.sub_social
	{
		justify-content: center;
	}
	/*end post page*/
}

/*sm*/
@media (min-width:768px) and (max-width:991px)	
{
	.mainslider .owl-nav
	{
		display: none;
	}
	.items
	{
		justify-content: center;
	}
	.cell
	{
		margin: 0 8px 30px 6px;
	}
	.listview .cell
	{
		margin: 0 0 30px 0;
	}
	.footer_links
	{
		flex-direction: column;
	}
	.foot_content .upper-c
	{
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-top: 50px;
	}
	.fast_links > li
	{
		margin-bottom: 15px;
	}
	.down-c{
		flex-direction: column;
	}
	.social
	{
		margin-left: 0;
	}
	.loading_app
	{
		margin-bottom: 20px;
	}
	/*start post page*/
	#po_slider .slideitem {
		width: 83.7%;
	}
	#po_slider .owl-dots
	{
		height: 100%;
	}
	#po_slider .owl-dot
	{
		height: 32.6% !important;
	}
	.owner_info.lg
	{
		display: none;
	}
	.owner_info.sm
	{
		display: block;
		margin-bottom: 40px;
	}
	.bans_info > li
	{
		margin: 3px auto;
	}
	.sub_social
	{
		justify-content: center;
	}
	.sim_title
	{
		text-align: center;
		border: none;
	}
	.plus_add
	{
		text-align: center;
	}
	/*end post page*/
}

/*xs*/
@media (max-width:767px)	
{
	.top_bar
	{
		flex-direction: column;
	}
	.down_bar
	{
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		padding-bottom: 0;
		border: none;
	}
	.down_bar .add_ban
	{
		display: none;
	}
	.sign_log
	{
		display: none;
	}
	.main_links
	{
		display: none;
	}
	header .searchbox
	{
		width: 91%;
		order: 3;
		margin-top: 30px;
	}
	.sidenav .add_ban
	{
		text-align: center;
		margin-top: 40px;
	}
	header .mob_bar
	{
		display: block;
		order: 4;
		margin-top: 20px;
	}
	.custom
	{
		width: auto;
		padding: 0;
	}
	.mainslider .owl-dots,.mainslider .owl-nav
	{
		display: none;
	}
	.prods > a
	{
		width: 139px;
		padding: 25px 11px;
		text-align: center;
	}
	.latest_bans .heading
	{
		justify-content: center;
		border: none;
	}
	.heading .pr_view
	{
		display: none;
	}
	.items
	{
		justify-content: center;
	}
	.cell
	{
		margin: 0 8px 30px 6px;
	}
	.footer_links
	{
		flex-direction: column;
	}
	.foot_content .upper-c
	{
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-top: 50px;
	}
	.fast_links > li
	{
		margin-bottom: 15px;
	}
	.down-c{
		flex-direction: column;
	}
	.loading_app
	{
		margin-bottom: 20px;
	}
	.loading_app > ul > li
	{
		padding: 0 2px;
	}
	.social
	{
		margin-left: 0;
	}
	.copied
	{
		flex-direction: column;
		line-height: 25px;
	}
	/*start post page*/
	.post_p .breadcrumb
	{
		padding: 0;
	}
	.post_p .breadcrumb-item
	{
		padding: 3px 0;
		font-size: 15px;
	}
	.post_p .breadcrumb-item > a
	{
		font-size: 15px;
	}
	.post_p .p-title
	{
		text-align: center;
	}
	.in-slider
	{
		max-width: 620px;
		margin: auto;
		padding-bottom: 124px;
	}
	#po_slider .owl-dots
	{
		width: 100%;
		margin-top: 8px;
		top: 100%;
	}
	#po_slider .slideitem
	{
		width: 100%;
	}
	#po_slider .owl-dot
	{
		float: left;
		width: 33.3% !important;
	}
	.p_actions
	{
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	.p_actions > li
	{
		padding: 5px 10px;
	}
	.p_intro
	{
		text-align: center;
	}
	.sub_social
	{
		flex-wrap: wrap;
		justify-content: center;
	}
	.sub_social .sub_title
	{
		margin: 10px 14px;
	}
	.sim_title
	{
		text-align: center;
		border: none;
	}
	.owner_info.lg
	{
		display: none;
	}
	.owner_info.sm
	{
		display: block;
		margin-bottom: 20px;
	}
	.bans_info > li
	{
		margin: 3px auto;
	}
	.plus_add
	{
		text-align: center;
	}
	/*end post page*/
}